<style>
    .admin-customers-container {
        min-height: 100vh;
    }

    .category-search-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem 0;
    }

    .admin-category-search-box {
        border: 1px solid #000000;
        border-radius: 10px;
        padding: .2rem .3rem;
        margin-top: 2rem;
    }

    #user-search {
        border: none;
        outline: none;
        width: 30rem;
        height: 2.5rem;
    }

    table th,
    td {
        text-align: center;
    }



    .add-new-product {
        text-align: center;
        margin: 1rem 0 2rem 0;
    }

    .admin-category-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .admin-category-form input {
        border: 1px solid #c5c5c5;
        outline: none;
        width: 90%;
        padding: 10px;
        border-radius: 10px;
    }

    .category-name-table {
        text-transform: capitalize;
    }



    .category-criteria {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 90%;
    }
</style>




<%- include('navbar') %>



        <div class="admin-customers-container container">
            <div class="category-search-box">
                <h3>Category</h3>

                <!-- category search -->
                <form action="/admin/category" method="get" class="admin-category-search-box">
                    <input type="text" name="categorySearch" id="user-search" placeholder="Search Category">
                    <button class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>


            </div>

            <!-- button trigger for modal to add new category -->
            <div class="add-new-product">

                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#new-category-modal">Add
                    New
                    Category <i class="fa-solid fa-plus"></i></button>
            </div>


            <!-- Modal for adding new category -->
            <div class="modal fade " id="new-category-modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header d-flex justify-content-between">
                            <h5 class="modal-title " id="exampleModalLongTitle">Add New Category</h5>
                            <span type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="bi bi-x-lg"></i>
                            </span>
                        </div>
                        <div class="modal-body">

                            <!-- form for adding new category -->

                            <form action="/admin/category" method="post" class="admin-category-form mt-4">
                                <input type="text" name="newCategory" placeholder="Enter new category" id="new-category"
                                    minlength="3" maxlength="30" required>
                                <div class="mt-4 category-criteria">
                                    <h6>Criteria</h6>
                                    <small>Minium 3 words</small>
                                    <small>Maximum 30 words</small>
                                    <small>Should not contain special charters</small>
                                    <small>should not only contain white spaces</small>
                                </div>

                                <button class="btn btn-success mt-5" id="new-category-btn">Add category</button>
                            </form>



                        </div>
                    </div>
                </div>
            </div>





            <!-- list of categories -->
            <div class="category-list-box">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">sl.no</th>
                            <th scope="col">Category </th>
                            <th scope="col">Added date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>


                        <% category.forEach((category,index)=>{ %>
                            <tr>
                                <th scope="row">
                                    <%= index+1 %>
                                </th>
                                <td class="category-name-table">
                                    <%= category.categoryName %>
                                </td>
                                <td>
                                    <%= category.categoryAddedOn.toLocaleDateString() %>
                                </td>
                                <td>
                                    <% if(category.isActive){ %>
                                        <b style="color: green;">ACTIVE</b>

                                        <% } else { %>
                                            <b style="color: red;">INACTIVE</b>

                                            <% } %>

                                </td>
                                <td>

                                    <a class="btn btn-warning" href="/admin/edit-category/<%= category.id %>">Edit</a>

                                    <% if(category.isActive){ %>

                                        <a class="btn btn-outline-danger category-unhide"
                                            href="/admin/hide-category/<%= category.id %>">Inactive</a>

                                        <% } else { %>
                                            <a class="btn btn-outline-success category-hide"
                                                href="/admin/unhide-category/<%= category.id %>">Active</a>

                                            <% } %>

                                                <a class="btn btn-danger category-delete"
                                                    href="/admin/delete-category/<%= category.id %>">Delete</a>

                                </td>

                            </tr>

                            <% }) %>


                    </tbody>
                </table>
            </div>

        </div>


        <%- include('footer') %>



            <script>

                // validating the new category field to check whether the field containing only white space , if it contain special characters
                const category = document.getElementById('new-category')
                const categorySubmitBtn = document.getElementById('new-category-btn')

                categorySubmitBtn.disabled = true

                // event listener for modal form 
                category.addEventListener('input', () => {

                    // if category has only white space then the submit button will be disabled
                    if (category.value.trim() === '') {
                        categorySubmitBtn.disabled = true;

                    } else {

                        // if category has content then enable the button
                        categorySubmitBtn.disabled = false


                        // this function remove all unnecessary spaces ie which have more than one consecutive white spaces and replace special characters
                        function trimExtraSpaces(str) {
                            return str.replace(/\s+/g, ' ').replace(/[^\w\s]|_/gi, '');
                        }

                        // prevent typing the special characters
                        let actualCategory = trimExtraSpaces(category.value)
                        category.value = actualCategory

                    }
                })



                // confirmation for deleting the category
                const deleteCategory = document.querySelectorAll(".category-delete")

                // because of many buttons for each is used to traverse and add eventListener for each of them
                deleteCategory.forEach((button) => {
                    button.addEventListener("click", function (event) {

                        event.preventDefault(); // Prevent default link behavior

                        Swal.fire({
                            title: 'Deleting the category',
                            text: "Are you sure you want to permanently delete this category?",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // If the category confirms the deletion, navigate to the delete link
                                window.location.href = event.target.href;
                            }
                        });
                    });
                })


                // confirmation for deactivating the category
                const deactivateCategory = document.querySelectorAll(".category-unhide")
                // because of many buttons for each is used to traverse and add eventListener for each of them
                deactivateCategory.forEach((button) => {
                    button.addEventListener("click", function (event) {
                        event.preventDefault(); // Prevent default link behavior

                        Swal.fire({
                            title: 'Deactivate the category',
                            text: "Are you sure you want to deactivate the category?",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, deactivate it!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // If the category confirms the deletion, navigate to the delete link
                                window.location.href = event.target.href;
                            }
                        });
                    });
                })



                // confirmation for activating the category
                const activateCategory = document.querySelectorAll(".category-hide")
                // because of many buttons for each is used to traverse and add eventListener for each of them
                activateCategory.forEach((button) => {
                    button.addEventListener("click", function (event) {
                        event.preventDefault(); // Prevent default link behavior

                        Swal.fire({
                            title: 'Activate the category',
                            text: "Are you sure you want to activate this category?",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, activate it!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = event.target.href;
                            }
                        });
                    });
                })








            </script>