<style>
    .admin-customers-container {
        min-height: 100vh;
    }

    .user-search-box {
        display: flex;
        align-items: center;
        margin: 3rem 0;
    }

    .admin-user-search-box {
        border: 1px solid #000000;
        border-radius: 10px;
        padding: 0.2rem 0.3rem;
        margin-top: 2rem;
    }

    #user-search {
        border: none;
        outline: none;
        width: 30rem;
        height: 2.5rem;
    }

    .product-name-td {
        max-width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .product-name-td:hover {
        white-space: normal;
        overflow: visible;
        z-index: 3;
    }

    #view-order-modal-form {
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    #view-order-modal-form input {
        width: 90%;
        height: 3rem;
        border: none;
        outline: none;
    }

    .product-overview-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .order-product-container {
        height: 200px;
        width: 200px;
        overflow: hidden;
    }

    .order-product-container img {
        height: 200px;
        width: 200px;
        object-fit: contain;
    }

    .table-view-order tr {
        display: grid;
        grid-template-columns: 20% 10% auto;
    }

    .table-view-order td {
        text-align: start;
    }
</style>

<%- include('navbar') %>

    <div class="admin-customers-container container">
        <div class="user-search-box">
            <h3>Orders</h3>
        </div>
        <div class="mt-5 table-responsive">
            <table class="table">
                <thead class="table-primary">
                    <tr>
                        <th scope="col" class="text-center py-3">sl.no</th>
                        <th scope="col" class="py-3">Product Name</th>
                        <th scope="col" class="py-3">Ordered Date</th>
                        <th scope="col" class="py-3">Payment Method</th>
                        <th scope="col" class="py-3">Status</th>
                        <th scope="col" class="py-3">Price</th>
                        <th scope="col" class="text-center py-3">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% orderDetails.forEach((ele,index)=>{ %>
                        <tr>
                            <th scope="row" class="text-center">
                                <%= index+1 %>
                            </th>
                            <td class="product-name-td">
                                <%= ele.products.productName %>
                            </td>
                            <td>
                                <%= ele.createdAt.toDateString() %>
                            </td>
                            <td>
                                <%= ele.paymentMethod %>
                            </td>
                            <td>
                                <%= ele.products.productStatus %>
                            </td>
                            <td>&#8377;<%= ele.products.price.toLocaleString() %>
                            </td>
                            <td class="text-center">
                                <!-- <a href='/admin/view-order/<%=ele.products.productID%>/<%=ele._id%>' class="btn btn-warning" >View</a> -->
                                <button type="button" id="view-order-button" data-toggle="modal"
                                    data-target=".view-order-modal" 
                                    data-name="<%= ele.products.productName %>"
                                    data-productID="<%= ele.products.productID %>"
                                    data-orderID="<%= ele._id %>"
                                    data-brand="<%= ele.products.brand %>" data-quantity="<%= ele.products.quantity %>"
                                    data-price="<%= ele.products.price %>"
                                    data-productStatus="<%= ele.products.productStatus %>"
                                    data-discountPrice="<%= ele.products.discountPrice %>"
                                    data-productImage="<%= ele.products.productImage %>"
                                    data-contactName="<%= ele.address.contactName %>"
                                    data-pincode="<%= ele.address.pincode %>"
                                    data-homeAddress="<%= ele.address.homeAddress %>"
                                    data-areaAddress="<%= ele.address.areaAddress %>"
                                    data-landmark="<%= ele.address.landmark %>"
                                    data-paymentMethod="<%= ele.paymentMethod %>" data-createdAt="<%= ele.createdAt %>"
                                    class="btn">
                                    <i class="fa-solid fa-pen-to-square"></i>                               
                                 </button>

                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>

        <!--  modal for product detail review -->
        <div class="modal fade view-order-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form action="/user/edit-order" method="post" id="view-order-modal-form">
                        <h2>View Order</h2>
                        <div class="product-overview-box">
                            <div class="order-product-container">
                                <img src="../../image/a1.jpg" class="image-fluid" id="view-order-image" />
                            </div>

                        </div>
                        <table class="table table-view-order">
                            <tr>
                                <td>Product Name</td>
                                <td>:</td>
                                <td id="view-order-product-name"></td>
                            </tr>
                            <tr>
                                <td>Brand</td>
                                <td>:</td>
                                <td id="view-order-product-brand"></td>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td>:</td>
                                <td>&#8377; <span id="view-order-product-price"></span></td>
                            </tr>
                            <tr>
                                <td>Discount Price</td>
                                <td>:</td>
                                <td>&#8377; <span id="view-order-discount-price"></span></td>
                            </tr>
                            <tr>
                                <td>Quantity</td>
                                <td>:</td>
                                <td id="view-order-quantity"></td>
                            </tr>
                            <tr>
                                <td>Contact Name</td>
                                <td>:</td>
                                <td id="view-order-contact-name"></td>
                            </tr>
                            <tr>
                                <td>Pincode</td>
                                <td>:</td>
                                <td id="view-order-pincode"></td>
                            </tr>
                            <tr>
                                <td>Home Address</td>
                                <td>:</td>
                                <td id="view-order-home-address"></td>
                            </tr>
                            <tr>
                                <td>Area Address</td>
                                <td>:</td>
                                <td id="view-order-area-address"></td>
                            </tr>
                            <tr>
                                <td>Landmark</td>
                                <td>:</td>
                                <td id="view-order-landmark"></td>
                            </tr>
                            <tr>
                                <td>Payment Method</td>
                                <td>:</td>
                                <td id="view-order-payment-method"></td>
                            </tr>
                            <tr>
                                <td>Ordered placed</td>
                                <td>:</td>
                                <td id="view-order-placed"></td>
                            </tr>
                            <tr>
                                <td>Order Status</td>
                                <td>:</td>
                                <td id="view-order-status"></td>
                            </tr>
                            
                            
                        </table>
                        <label for="productDeliveryStatus"></label>
                        <select id="productDeliveryStatus" name="orderStatus">
                            <option value="0">Pending</option>
                            <option value="1">Shipped</option>
                            <option value="2">Delivered</option>
                            <option value="3">Returned</option>
                        </select>
                        <button type="submit" class="btn btn-success">Save the order status</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') %>

        <script>
            // const orderDetail =

            // function for order detail view in modal
            const viewOrderBtn = document.querySelectorAll("#view-order-button");
            viewOrderBtn.forEach((button) => {
                button.addEventListener("click", () => {
                    const orderID=button.getAttribute('data-orderID')
                    const productID=button.getAttribute('data-productID')
                    document.getElementById('view-order-modal-form').action=`/admin/edit-order/${orderID}/${productID}`
                    document.getElementById('view-order-product-name').innerHTML = button.getAttribute("data-name");
                    document.getElementById('view-order-product-brand').innerHTML = button.getAttribute("data-brand");
                    document.getElementById('view-order-quantity').innerHTML = button.getAttribute("data-quantity");
                    document.getElementById('view-order-product-price').innerHTML = button.getAttribute("data-price");
                    document.getElementById('view-order-status').innerHTML = button.getAttribute("data-productStatus");
                    document.getElementById('view-order-discount-price').innerHTML = button.getAttribute("data-discountPrice");
                    document.getElementById('view-order-contact-name').innerHTML = button.getAttribute("data-contactName");
                    document.getElementById('view-order-pincode').innerHTML = button.getAttribute("data-pincode");
                    document.getElementById('view-order-home-address').innerHTML = button.getAttribute("data-homeAddress");
                    document.getElementById('view-order-area-address').innerHTML = button.getAttribute("data-areaAddress");
                    document.getElementById('view-order-landmark').innerHTML = button.getAttribute("data-landmark");
                    document.getElementById('view-order-payment-method').innerHTML = button.getAttribute("data-paymentMethod");
                    document.getElementById('view-order-placed').innerHTML = button.getAttribute("data-createdAt");
                    const productImage = button.getAttribute("data-productImage");
                    document.getElementById('view-order-image').src = `../${productImage}`
                });
            });


            const editOrderForm=document.getElementById('view-order-modal-form')
            editOrderForm.addEventListener('submit',(e)=>{
                e.preventDefault();

                Swal.fire({
                    icon:"question",
                    title:"Change order status",
                    text:"Are you sure to change the order status"
                }).then((result)=>{
                    if(result.isConfirmed){
                        editOrderForm.submit();
                    }
                })
            })
        </script>