<style>
    .admin-customers-container {
        min-height: 100vh;
        margin-bottom: 5rem;
    }

    .user-search-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3rem 0;
    }

    .product-name-td {
        max-width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .product-name-td:hover {
        white-space: normal;
        overflow: visible;
        z-index: 3;
    }

    #view-order-modal-form {
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    #view-order-modal-form input {
        width: 90%;
        height: 3rem;
        border: none;
        outline: none;
    }

    .product-overview-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .order-product-container {
        height: 200px;
        width: 200px;
        overflow: hidden;
    }

    .order-product-container img {
        height: 200px;
        width: 200px;
        object-fit: contain;
    }

    .table-view-order tr {
        display: grid;
        grid-template-columns: 20% 10% auto;
    }

    .table-view-order td {
        text-align: start;
    }
</style>

<%- include('navbar') %>




<div class="admin-customers-container container">
    <div class="user-search-box">
        <h3>Orders</h3>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card-counter orange">
                <i class="fa-solid fa-boxes-stacked"></i>
                <span class="count-numbers">
                    <%= totalProducts %>
                </span>
                <span class="count-name">Total Orders</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter info">
                <i class="fa-solid fa-dolly"></i>       
                <span class="count-numbers">
                    <%= blockedProducts %>
                </span>
                <span class="count-name">Confirmed  Orders</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter success">
                <i class="fa-solid fa-box-archive"></i>
                <span class="count-numbers">
                    <%= totalProducts-blockedProducts %>
                </span>
                <span class="count-name">Delivered Orders</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter danger">
                <i class="fa-solid fa-dolly"></i>       
                <span class="count-numbers">
                    <%= blockedProducts %>
                </span>
                <span class="count-name">Cancelled Orders</span>
            </div>
        </div>
    </div>
    <div class="mt-5 table-responsive">
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th scope="col" class="text-center py-3">sl.no</th>
                    <th scope="col" class="py-3">Order ID</th>
                    <th scope="col" class="py-3">Ordered Date</th>
                    <th scope="col" class="py-3">Payment Method</th>
                    <th scope="col" class="py-3">Status</th>
                    <th scope="col" class="py-3">Price</th>
                    <th scope="col" class="text-center py-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if(orderDetails.length != 0) { %>
                    <% orderDetails.forEach((ele, index) => { %>
                        <tr>
                            <th scope="row" class="text-center">
                                <%= index + 1 %>
                            </th>
                            <td class="product-name-td">
                                <%= ele._id %>
                            </td>
                            <td>
                                <%= ele.createdAt.toDateString() %>
                            </td>
                            <td>
                                <%= ele.paymentMethod %>
                            </td>
                            <td>
                                <span class="badge">
                                    <%= ele.orderStatus %>
                                </span>
                            </td>
                            <td>&#8377;<%= ele.totalPrice.toLocaleString() %></td>
                            <td class="text-center">
                                <a href="/admin/view-order/<%= ele._id %>" id="view-order-button" class="btn">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <tr>
                        <th colspan="7" class="text-center p-5 text-secondary">No Order Placed yet</th>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <%- include('pagination') %>
    </div>
</div>

    <%- include('footer') %>


        <script>

            // change the badge color of order status
            const orderStatusBadge = document.querySelectorAll('.badge')
            orderStatusBadge.forEach((badge) => {
                if (badge.innerHTML.trim().toLocaleLowerCase() === "cancelled") {
                    badge.classList.add('bg-danger')
                }
                if (badge.innerHTML.trim().toLocaleLowerCase() === "delivered") {
                    badge.classList.add('bg-success')
                }
                if (badge.innerHTML.trim().toLocaleLowerCase() === "returned") {
                    badge.classList.add('bg-warning')
                    badge.classList.add('text-dark')
                }
                if (badge.innerHTML.trim().toLocaleLowerCase() === "pending") {
                    badge.classList.add('bg-secondary')
                }
                if (badge.innerHTML.trim().toLocaleLowerCase() === "confirmed") {
                    badge.classList.add('bg-primary')
                }
                if (badge.innerHTML.trim().toLocaleLowerCase() === "shipping") {
                    badge.classList.add('bg-info')
                }
            })

        </script>