<style>
    .order-status-container {
        min-height: 100vh;
    }

    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }

    .card {

        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 2 solid rgba(0, 0, 0, .125);
        border-radius: 1rem;
    }

    .text-reset {
        --bs-text-opacity: 1;
        color: inherit !important;
    }

    a {
        color: #5465ff;
        text-decoration: none;
    }
</style>


<%- include('navbar') %>
    <div class="container my-5 order-status-container">
        <!-- Title -->
        <div class="d-flex justify-content-between align-items-center py-3">
            <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #<%= orderDetails._id %>
            </h2>
        </div>

        <!-- Main content -->
        <div class="row">
            <div class="col-lg-8">
                <!-- Details -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                            <div>
                                <span class="me-3">
                                    <%= orderDetails.createdAt.toDateString() %>
                                </span>
                                <!-- <span class="badge rounded-pill bg-info">SHIPPING</span> -->
                            </div>
                            <div class="d-flex">
                                <!-- <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"><i class="bi bi-download"></i> <span class="text">Invoice</span></button> -->
                                <!-- <div class="dropdown">
                                    <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a>
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                        <table class="table table-borderless">
                            <tbody>
                                <% orderDetails.products.forEach((ele)=>{ %>

                                    <tr>
                                        <td>
                                            <div class="d-flex mb-2">
                                                <div class="flex-shrink-0">
                                                    <img src="../../<%= ele.productID.productImage[0]  %>" alt=""
                                                        width="35" class="img-fluid">
                                                </div>
                                                <div class="flex-lg-grow-1 ms-3">
                                                    <span class="small">
                                                        <%= ele.brand %>
                                                    </span>
                                                    <h6 class="small mb-0">
                                                        <%= ele.productName %>
                                                    </h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <%= ele.quantity %>
                                        </td>
                                        <td class="text-end">
                                            <%= ele.price %>
                                        </td>
                                    </tr>
                                    <% }) %>

                            </tbody>
                            <tfoot>
                                <!-- <tr>
                    <td colspan="2">Subtotal</td>
                    <td class="text-end">$159,98</td>
                  </tr> -->
                                <!-- <tr>
                    <td colspan="2">Shipping</td>
                    <td class="text-end">$20.00</td>
                  </tr> -->
                                <!-- <tr>
                                    <td colspan="2">Discount (Code: NEWYEAR)</td>
                                    <td class="text-danger text-end">-$10.00</td>
                                </tr> -->
                                <tr class="fw-bold">
                                    <td>TOTAL</td>
                                    <td>
                                        <%= orderDetails.totalQuantity %>
                                    </td>
                                    <td class="text-end">
                                        <%= orderDetails.totalPrice %>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- Payment -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="h6">Payment Method</h3>
                                <p>
                                    <%= orderDetails.paymentMethod %> <br>
                                        <!-- Total: $169,98 <span class="badge bg-success rounded-pill">PAID</span></p> -->
                            </div>
                            <div class="col-lg-6">
                                <h3 class="h6">Billing address</h3>
                                <address>
                                    <strong>
                                        <%= orderDetails.address.contactName %>
                                    </strong><br>
                                    <%= orderDetails.address.pincode %><br>
                                        <%= orderDetails.address.homeAddress %><br>
                                            <%= orderDetails.address.areaAddress %><br>
                                                <%= orderDetails.address.landmark %><br>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Customer Notes -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="h6">Current Order Status</h3>
                        <div class="badge" id="current-order-status">
                            <%= orderDetails.orderStatus %>
                        </div>
                    </div>
                </div>
              
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="h6">Change Order Status</h3>
                        <form action="/admin/edit-order-status/<%= orderDetails._id %>" method="post"
                            id="edit-order-status-form">
                            <div class="form-group">
                                <select id="productDeliveryStatus" name="orderStatus" class="custom-select">
                                    <option value="0">Confirmed</option>
                                    <option value="1">Shipping</option>
                                    <option value="2">Delivered</option>
                                </select>
                                <label for="productDeliveryStatus" id="productDeliveryStatusLabel"
                                    class="text-danger"></label>
                            </div>
                            <div class="text-center">
                                <a href="/admin/orders" class="btn btn-secondary">Go Back</a>
                                <button class="btn btn-success" type="submit">Change status</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <%- include('footer') %>

        <script>
            const orderStat = ['Confirmed', 'Pending', 'Delivered', 'Returned', 'Cancelled']
            // order status updating validation
            const currentOrderStatus = document.querySelector('#current-order-status').innerHTML
            const productDeliveryStatus = document.querySelector('#productDeliveryStatus')
            const editOrderStatusForm = document.getElementById('edit-order-status-form')
            editOrderStatusForm.addEventListener('submit', (e) => {
                e.preventDefault()
                let validForm = true
                document.querySelector('#productDeliveryStatusLabel').innerHTML = ""
                
                if (currentOrderStatus.trim() === "Shipping") {
                    if (productDeliveryStatus.value === "0" || productDeliveryStatus.value === "1") {
                        validForm = false
                        document.querySelector('#productDeliveryStatusLabel').innerHTML = "Current order status is Shipping."
                    }
                }
                if (currentOrderStatus.trim() === "Delivered") {
                    if (productDeliveryStatus.value === "0" || productDeliveryStatus.value === "1" || productDeliveryStatus.value === "2") {
                        validForm = false
                        document.querySelector('#productDeliveryStatusLabel').innerHTML = "Current order status is delivered."
                    }
                }
                if (currentOrderStatus.trim() === "Confirmed") {
                    if (productDeliveryStatus.value === "0") {
                        validForm = false
                        document.querySelector('#productDeliveryStatusLabel').innerHTML = "Order is already confirmed"
                    }
                }
                if (currentOrderStatus.trim() === "Returned") {
                        validForm = false
                        document.querySelector('#productDeliveryStatusLabel').innerHTML = "Order Returned Already"
                }
                if (currentOrderStatus.trim() === "Cancelled") {
                        validForm = false
                        document.querySelector('#productDeliveryStatusLabel').innerHTML = "Order Cancelled Already"
                }
                if (validForm) {
                    Swal.fire({
                        icon: "question",
                        title: "Change Order Status",
                        text: "Are you sure want to change the order status",
                        showCancelButton: true,
                        confirmButtonText: "Change status"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            editOrderStatusForm.submit()
                        }
                    })
                }

            })


            // change the badge color of order status
            const orderStatusBadge = document.querySelectorAll('.badge')
            orderStatusBadge.forEach((badge) => {
                if (badge.innerHTML.trim().toLocaleLowerCase() === "cancelled") {
                    badge.classList.add('badge-danger')
                }
                if (badge.innerHTML.trim().toLocaleLowerCase() === "delivered") {
                    badge.classList.add('badge-success')
                }
                if (badge.innerHTML.trim().toLocaleLowerCase() === "returned") {
                    badge.classList.add('badge-warning')
                }
                if (badge.innerHTML.trim().toLocaleLowerCase() === "pending") {
                    badge.classList.add('badge-secondary')
                }
                if (badge.innerHTML.trim().toLocaleLowerCase() === "confirmed") {
                    badge.classList.add('badge-primary')
                }
                if (badge.innerHTML.trim().toLocaleLowerCase() === "shipping") {
                    badge.classList.add('badge-info')
                }
            })




        </script>