<style>
    .admin-customers-container {
        min-height: 100vh;
        margin-bottom: 5rem;
    }

    .user-header-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 3rem 0;
    }

    .admin-user-search-box {
        border: 1px solid #000000;
        border-radius: 10px;
        padding: .2rem .3rem;
        margin-top: 2rem;
    }

    #user-search {
        border: none;
        outline: none;
        width: 30rem;
        height: 2.5rem;
    }

    table th,
    td {
        overflow: hidden;
        text-overflow: ellipsis;
        /* text-align: center; */
    }

    .add-new-product {
        text-align: center;
        margin: 1rem 0 2rem 0;
    }



    .product-name-td {
        max-width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .product-name-td:hover {
        white-space: normal;
        overflow: visible;
        z-index: 3;

    }
</style>




<%- include('navbar') %>




    <div class="admin-customers-container container pt-3">
        <div class="user-header-box">
            <h3>Products</h3>
            <a href="/admin/add-product" class="btn btn-primary">Add Product <i class="fa-solid fa-plus"></i></a>


        </div>
        <div class="mt-5 table-responsive">
            <table class="table">
                <thead class="table-primary">
                    <tr>
                        <th scope="col" class="text-center py-3">sl.no</th>
                        <th scope="col" class="py-3">Product</th>
                        <th scope="col" class="py-3">Price</th>
                        <th scope="col" class="py-3">Stock</th>
                        <th scope="col" class="py-3">Category</th>
                        <th scope="col" class="text-center py-3">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    <% products.forEach((product,index)=>{ %>

                        <tr>
                            <th scope="row" class="text-center">
                                <%= index+1 %>
                            </th>
                            <td class="product-name-td">
                                <%= product.productName %>
                            </td>
                            <td><i class="fa-solid fa-indian-rupee-sign"></i>
                                <%= product.productPrice %>
                            </td>
                            <td>
                                <%= product.productQuantity %>
                            </td>
                            <td>
                                <%= product.productCategory %>
                            </td>
                            <td class="text-center">
                                <a class="edit-product-btn btn" href="/admin/edit-product/<%= product.id %>">
                                    <i class="fa-solid fa-pen-to-square"></i></a>

                                <% if(product.isActive){ %>
                                    <button class="btn inactive-product-btn " data-productID="<%= product.id %>">
                                        <i class="fa-solid fa-lock-open"></i>
                                    </button>
                                    <% }else{ %>
                                        <button class="btn active-product-btn text-danger"
                                            data-productID="<%= product.id %>">
                                            <i class="fa-solid fa-lock"></i>
                                        </button>
                                        <% } %>
                                            <button class="btn text-danger remove-product-btn"
                                                value="<%= product.id %>">
                                                <i class="fa-regular fa-trash-can"></i>
                                            </button>
                            </td>
                        </tr>

                        <% }) %>


                </tbody>
            </table>
        </div>
        <%- include('pagination') %>
    </div>
    


    <%- include('footer') %>

        <script>


            // confirmation for deactivating the product
            const deactivateProduct = document.querySelectorAll(".inactive-product-btn")
            // because of many buttons for each is used to traverse and add eventListener for each of them
            deactivateProduct.forEach((button) => {
                button.addEventListener("click", function (event) {
                    event.preventDefault(); // Prevent default link behavior
                    const productID = button.getAttribute('data-productID')
                    Swal.fire({
                        title: 'Deactivate the Product',
                        text: "Are you sure you want to deactivate this Product?",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d11a2a',
                        cancelButtonColor: '#808080',
                        confirmButtonText: 'Yes, Deactivate it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = `/admin/product-inactive/${productID}`
                        }
                    });
                });
            })



            // confirmation for activating the product
            const activateProduct = document.querySelectorAll(".active-product-btn")
            // because of many buttons for each is used to traverse and add eventListener for each of them
            activateProduct.forEach((button) => {
                button.addEventListener("click", function (event) {
                    event.preventDefault(); // Prevent default link behavior
                    const productID = button.getAttribute('data-productID')
                    Swal.fire({
                        title: 'Activate the Product',
                        text: "Are you sure you want to activate this Product?",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#4BB543',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, activate it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = `/admin/product-active/${productID}`
                        }
                    });
                });
            })





            // delete product using fetch 
            // select all the delete buttons
            const productInactive = document.querySelectorAll('.remove-product-btn')

            // for each delete buttons add fetch routes 
            productInactive.forEach((button) => {
                button.addEventListener('click', (e) => {
                    e.preventDefault();

                    // adding confirmation to product delete button
                    Swal.fire({
                        title: "Are you sure want to delete?",
                        text: "You won't be able to revert this!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, delete it!"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // product id of the product from the value of button
                            const productID = button.value;
                            const URL = `/admin/delete-product/${productID}`

                            // fetch with method DELETE to delete products
                            fetch(URL, {
                                method: 'DELETE'
                            }).then((response) => {

                                // if product delete response is 200 from backend then a sweet alert with delete confirm message is displayed
                                if (response.ok) {
                                    Swal.fire({
                                        icon: "success",
                                        title: "Product Deleted",
                                        showConfirmButton: false,
                                        timer:1000,
                                    }).then((result) => {
                                        if (result) {
                                            window.location.reload()
                                        }
                                    });
                                } else {
                                    // if the response is not 200 then error sweet alert is displayed
                                    Swal.fire({
                                        icon: "question",
                                        title: "Product Not Deleted",
                                        text: "That thing is still around?",
                                        timer: 2500
                                    });
                                }
                            }).catch((err) => {
                                Swal.fire({
                                    icon: "error",
                                    title: "Oops...",
                                    text: `Something went wrong! ${err}`,
                                    timer: 2500
                                });
                            })
                        }
                    });


                })

            })

        </script>