<style>
    .admin-customers-container {
        min-height: 100vh;
    }
    .user-heading-box h3{
        font-family: "Proza Libre", sans-serif;

    }

    .admin-action .btn {
        width: 100px;
    }

    .unblock-user-btn {
        color: red;
        cursor: pointer;
    }
    
    .block-user-btn {
        color: green;
        cursor: pointer;
    }
</style>




<%- include('navbar') %>


    <div class="admin-customers-container container pt-5">
        <div class="user-heading-box">
            <h3>Customers</h3>
        </div>
        <div class="mt-5 table-responsive">
            <table class="table ">
                <thead class="table-primary">
                    <tr>
                        <th scope="col" class="text-center py-3">sl.no</th>
                        <th scope="col" class="py-3">Name</th>
                        <th scope="col" class="py-3">Email Address</th>
                        <th scope="col" class="py-3">Phone Number</th>
                        <th scope="col" class="text-center py-3">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach((user,index)=>{%>
                        <tr >
                            <th scope="row" class="text-center">
                                <%= index+1 %>
                            </th>
                            <td>
                                <%= user.name %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= user.phone %>
                            </td>

                            <td class="text-center"> 

                                <button class="btn" data-userID="<%= user.id %>">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                                <% if(user.isBlocked){%>

                                    <button class="btn unblock-user-btn" data-userID="<%= user.id %>">
                                        <i class="fa-solid fa-user-large-slash"></i>
                                    </button>

                                    <% } else { %>

                                        <button class="btn block-user-btn" data-userID="<%= user.id %>" >
                                      <i class="fa-solid fa-user-large"></i>
                                        </button>

                                        <% } %>

                            </td>
                        </tr>
                        <% })%>
                </tbody>
            </table>
        </div>
    </div>

    

    <%- include('footer') %>



        <script>

            const unBlockUser = document.querySelectorAll('.unblock-user-btn');
            unBlockUser.forEach((button) => {
                button.addEventListener("click", (e) => {
                    const URL = button.getAttribute("data-userID")
                    e.preventDefault();
                    Swal.fire({
                        title: 'Unblock the user',
                        text: "Are you sure you want to unblock the user?",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, unblock it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // If the user confirms the unblocking, navigate to the unblock link
                            window.location.href = `/admin/unblock-user/${URL}`
                        }
                    });
                });
            });

            const blockUser = document.querySelectorAll('.block-user-btn');
            blockUser.forEach((button) => {
                button.addEventListener("click", (e) => {
                    const URL = button.getAttribute("data-userID")
                    console.log("🚀 ~ file: user.ejs:110 ~ button.addEventListener ~ URL:", URL);
                    e.preventDefault();
                    Swal.fire({
                        title: 'Block the user',
                        text: "Are you sure you want to block the user?",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, block it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // If the user confirms the blocking, navigate to the block link
                            window.location.href = `/admin/block-user/${URL}`
                        }
                    });
                });
            });



        </script>