<style>
    .no-order-prompt {
        color: #b0b0b0;
        font-family: monospace;
    }



    .avatar-lg {
        height: 5rem;
        width: 5rem;
    }

    .font-size-18 {
        font-size: 18px !important;
    }

    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    a {
        text-decoration: none !important;
    }

    .w-xl {
        min-width: 160px;
    }

    .card {
        margin-bottom: 24px;
        -webkit-box-shadow: 0 2px 3px #e4e8f0;
        box-shadow: 0 2px 3px #e4e8f0;
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eff0f2;
        border-radius: 1rem;
    }
    .add-review-button {
        cursor: pointer;
    }

</style>



<%- include('navbar') %>

    <div class="container mt-5">
        <nav class="nav nav-borders mb-5">

            <a href="/user/home" class="nav-link  ms-0 "><i class="fa-solid fa-house"></i>
                Home</a>
            <a href="/user/profile" class="nav-link  ms-4 "><i class="fa-solid fa-user"></i>
                Profile</a>
            <a href="/user/orders" class="nav-link ms-4 "><i class="fa-solid fa-truck-moving"></i> Orders</a>
            <a href="/user/cancelled-orders" class="nav-link ms-4 active"><i class="fa-solid fa-ban"></i> Cancelled
                Orders</a>
                <a href="/user/wallet" class="nav-link ms-4"><i class="fa-solid fa-wallet"></i> Wallet</a>

        </nav>
        <div class="row">
            <!-- left side overall stats-->
            <div class="col-xl-3">
                <!-- <div class="col-md-12">
                    <div class="card-counter primary">
                        <i class="fa-solid fa-truck"></i>
                        <span class="count-numbers">0</span>
                        <span class="count-name">Pending orders</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-counter success">
                        <i class="fa-solid fa-star"></i>
                        <span class="count-numbers">0</span>
                        <span class="count-name">Review</span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card-counter info">
                        <i class="fa-solid fa-box-open"></i>
                        <span class="count-numbers">0</span>
                        <span class="count-name">Orders</span>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <div class="card-counter danger">
                        <i class="fa-solid fa-ban"></i>
                        <span class="count-numbers">  <%= orderDetails.length %></span>
                        <span class="count-name">Cancelled Orders</span>
                    </div>
                </div>
            </div>

            <!-- right side orders list  -->
            <div class="col-xl-9">
                <% if(orderDetails.length!=0){ %>
                    <% orderDetails.forEach((ele,index)=> { %>
                        <div class="card border shadow-none order-container">
                            <div class="card-body">

                                <% ele.products.forEach((product,index)=> { %>

                                    <div class="d-flex align-items-start ">
                                        <div class="me-4">
                                            <img src="../../<%= product.productImage %>" class="avatar-lg rounded">
                                        </div>
                                        <div class="flex-grow-1 align-self-center overflow-hidden">
                                            <div>
                                                <h5 class="text-truncate font-size-18">
                                                    <%= product.brand %>
                                                </h5>
                                                <h5 class="text-truncate font-size-18">
                                                    <a href="/user/product-view/<%= product.productID.id %>"
                                                        class="text-dark">
                                                        <%= product.productName %>
                                                    </a></h5>


                                                <p class="mb-0 mt-1">Quantity : <b>
                                                        <%= product.quantity %>
                                                    </b>
                                                <p class="mb-0 mt-1">Price : <b>
                                                    &#8377; <%= product.price %>
                                                    </b>
                                                </p>
                                               
                                            </div>
                                        </div>

                                    </div>
                                    <hr>
                                    <% }) %>
                                        <div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="mt-3 ">
                                                        <p class="text-muted mb-2">Order Placed</p>
                                                        <h6 class="mb-0 mt-2"><span class="text-muted ">
                                                                <%= ele.createdAt.toDateString() %>
                                                                    </h5>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="mt-3 ">
                                                        <p class="text-muted mb-2">Order ID</p>
                                                        <h6 class="mb-0 mt-2"><span class="text-muted ">
                                                                <%= ele._id %>
                                                                    </h5>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="mt-3">
                                                        <p class="text-muted mb-2">Order Status</p>
                                                        <h6 class="mb-0 mt-2"><span class="text-muted ">
                                                                <%= ele.orderStatus %>
                                                                    </h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="mt-3 ">
                                                        <p class=" text-muted mb-2">Shipping Address</p>
                                                        <h6 class="mb-0 mt-2"><span class="text-muted ">
                                                                <%= ele.address.homeAddress %> , <%=
                                                                        ele.address.areaAddress %> , Pin: <%=
                                                                            ele.address.pincode %>
                                                                            </h5>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="mt-3 ">
                                                        <button class="btn btn-dark"
                                                    onclick="downloadInvoice('<%= ele._id %>')">
                                                    Invoice <i class="fa-solid fa-download"></i>
                                                </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </div>
                        <% }) %>
                            <% } else { %>
                                <div class="row text-center">
                                    <h2 class="no-order-prompt">No Cancelled orders available yet </h2>
                                </div>
                                <% } %>
                                    <!-- end card -->

            </div>
        </div>
        <!-- end row -->
    </div>

    <div class="modal fade" id="cancelOrderModal" tabindex="-1" aria-labelledby="cancelOrderModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body p-5">
                    <h2 class="text-center mb-5">Reason for cancelling</h2>
                    <form action="/user/cancel-order/" method="post" id="cancel-order-form">
                        <div class="form-group">
                            <textarea class="form-control" id="reason-for-cancel" rows="5" name="cancelReason"
                                placeholder="please provide the reason for cancelling the order"></textarea>
                            <label for="reason-for-cancel" class="cancel-form-validate text-danger"></label>
                        </div>
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Confirm Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') %>


        <script>

            // function for cancelling the order
            const cancelOrderForm = document.getElementById('cancel-order-form')
            function cancelOrder(orderID) {

                Swal.fire({
                    icon: "question",
                    title: "Cancel the order",
                    text: "Are you sure want to cancel the order?",
                    showCancelButton: true,
                    confirmButtonText: "Yes, cancel it !",
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.isConfirmed) {

                        // open the modal for cancel order
                        const myModal = new bootstrap.Modal(document.getElementById('cancelOrderModal'));
                        myModal.show();

                        cancelOrderForm.action = `/user/cancel-order/${orderID}`


                    }
                })
            }

            const reasonForCancel = document.getElementById('reason-for-cancel')
            cancelOrderForm.addEventListener('submit', (e) => {
                e.preventDefault();
                document.getElementsByClassName('cancel-form-validate')[0].innerHTML = ""

                if (reasonForCancel.value.trim() === 0 || reasonForCancel.value.length > 100 || reasonForCancel.value.length < 10) {

                    document.getElementsByClassName('cancel-form-validate')[0].innerHTML = "Please provide a reason between 10 and 100 characters"
                } else {
                    cancelOrderForm.submit()
                }
            })

             // download the invoice
             function downloadInvoice(orderID) {
                const URL = `/user/invoice/${orderID}`
                fetch(URL, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                }).then((res) => {
                    if (res.ok) {
                        return res.blob();
                    }
                    throw new Error('Network response was not ok.');
                })
                    .then((blob) => {
                        const url = window.URL.createObjectURL(blob);
                        const a = document.createElement('a');
                        a.style.display = 'none';
                        a.href = url;
                        a.download = `report-${Date.now()}.pdf`;
                        document.body.appendChild(a);
                        a.click();
                        window.URL.revokeObjectURL(url);
                    }).catch((err)=>{
                        console.log(err);
                    })

            }

        </script>