<style>
    .cart-container {
        /* display: flex;
        flex-direction: row;
        justify-content: space-between; */
        display: grid;
        grid-template-columns: 80% 20%;

        gap: 2rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        flex-wrap: wrap-reverse;
        min-height: 90vh;
    }

    .cart-item-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .cart-item-box {
        display: flex;
        gap: 1rem;
        border: 1px solid #bababa;
        border-radius: 10px;
        padding: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-wrap: wrap;
    }

    .cart-item-image {
        width: 150px;
        height: 150px;
        overflow: hidden;
        margin-right: 1rem;
    }

    .cart-image {
        width: 150px;
        height: 150px;
        object-fit: contain;
    }

    .cart-item-description {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }

    .cart-price-box {
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .strike-price {
        color: #8d8d8d;
        /* font-size: 1rem; */
        text-decoration: line-through;
    }

    .discount-label-cart {
        background-color: rgba(0, 128, 0, 0.763);
        color: #ffffff;
        padding: 0 1rem;
        border-radius: 5px;
        text-align: center;
    }

    .cart-price-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .empty-cart-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: url("../../image/emptyCart.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .cart-items-count-container {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        flex-wrap: wrap;
    }

    .cart-items-count-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    .cart-product-name{
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        color: #000000;
    }
</style>

<%- include('navbar') %>

    <div class="cart-container container">
        <!-- check the cart is empty or not -->
        <% if(cart.length!=0){ %>
            <div class="cart-item-container">
                <!-- render each product details -->
                <% cart.forEach((items)=>{ %>

                    <div class="cart-item-box">
                        <div class="cart-item-image">
                            <img src="../../<%= items.productID.productImage[0] %>" class="cart-image" />
                        </div>
                        <div class="cart-item-description">
                            <small>
                                <%= items.productID.productBrand %>
                            </small>
                            <a href="/user/product-view/<%= items.productID.id %>" class="cart-product-name">
                                <%= items.productID.productName %>
                            </a>
                            <div class="cart-price-box">
                                <% if(items.productID.productDiscount!=0){ %>
                                    <h5>
                                        <i class="fa-solid fa-indian-rupee-sign"></i>
                                        <%= parseInt(items.productID.productPrice-(items.productID.productDiscount/100)*items.productID.productPrice).toLocaleString()
                                            %>
                                    </h5>
                                    <h5 class="strike-price">
                                        <i class="fa-solid fa-indian-rupee-sign"></i>
                                        <%= items.productID.productPrice.toLocaleString() %>
                                    </h5>
                                    <span class="discount-label-cart">
                                        <b>
                                            <%= items.productID.productDiscount %>&percnt; OFF
                                        </b>
                                    </span>

                                    <% }else { %>
                                        <h5>
                                            <i class="fa-solid fa-indian-rupee-sign"></i>
                                            <%= items.productID.productPrice.toLocaleString() %>
                                        </h5>
                                        <% } %>
                            </div>
                            <div class="cart-items-count-container">
                                <div class="cart-items-count-row">
                                    <label for="product-quantity"><b>Select Quantity</b></label>
                                    <select name="productQuantity" class="product-quantity"
                                        onchange="updateProductCount('<%= items.productID.id%>',value)">
                                        <option value="<%= items.productCount %>" disabled selected>
                                            <%= items.productCount %>
                                        </option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <div class="cart-items-count-row">
                                    <b>Total Price</b>
                                    <% if(items.productID.productDiscount!=0){ %>
                                        <h4> &#8377;
                                            <%= parseInt(items.productID.productPrice*items.productCount-(items.productID.productDiscount/100)*items.productID.productPrice*items.productCount).toLocaleString()
                                                %>
                                        </h4>
                                        <% }else { %>
                                            <h4> &#8377;
                                                <%= parseInt(items.productID.productPrice*items.productCount).toLocaleString()
                                                    %>
                                            </h4>
                                            <% }%>

                                </div>
                                <!-- <div class="cart-items-count-row"></div> -->
                            </div>



                            <button class="btn btn-danger mt-2 btn-sm"
                                onclick="removeCartProduct('<%= items.productID.id%>')">Remove Product</button>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <% }else { %>
                <div class="empty-cart-container">
                    <!-- <button onclick="history.back()" class="btn btn-primary">Go Back</button> -->
                    <a href="/user/home" class="btn btn-primary">Go Back Home</a>
                </div>
                <% } %>
                    <div class="cart-price-container">
                        <table class="table table-hover">
                            <tr>
                                <th>Total Price</th>
                                <th>:</th>
                                <th>
                                    <%= parseInt(totalPriceWithoutDiscount).toLocaleString() %>
                                </th>
                            </tr>
                            <tr>
                                <th>Savings</th>
                                <th>:</th>
                                <th>
                                    <%= Math.round(totalPriceWithoutDiscount-totalPrice).toLocaleString() %>
                                </th>
                            </tr>
                            <tr>
                                <th>Payable Amount</th>
                                <th>:</th>
                                <th>
                                    <%= parseInt(totalPrice).toLocaleString() %>
                                </th>
                            </tr>
                        </table>
                        <!-- checkout button -->
                        <div class="checkout-button d-flex flex-column ">
                            <a href="/user/checkout" class="btn btn-primary">Proceed to CheckOut</a>
                            <a href="/user/home" class="btn btn-secondary mt-2">Back to Home</a>
                        </div>
                    </div>

    </div>

    <%- include('footer') %>

        <script>

            // product quantity and productID on onChange function
            function updateProductCount(productID, value) {

                // url for the fetch request 
                const URL = `/user/cart-count/${productID}/?productCount=${value}`;

                // fetch request for updating product count in cart
                fetch(URL, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                }).then((Response) => {

                    // if the product updated without any error then an alert with success is fired
                    if (Response.ok) {
                        Swal.fire({
                            icon: "success",
                            title: "Count Updated",
                            showConfirmButton: false,
                            timer: 800,
                        });
                        // after the timer from sweet alert then reload the page
                        setTimeout(() => {
                            window.location.reload()
                        }, 800)

                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: "Unexpected error occurred please try again later",
                        });
                    }
                });
            }



            // remove the product from cart
            function removeCartProduct(productID) {

                // confirmation message for removing the cart items
                Swal.fire({
                    icon: 'question',
                    title: "Remove product from cart",
                    text: "Are you sure want to remove this product from cart",
                    showCancelButton: true,
                    confirmButtonText: "Yes, remove it!",
                }).then((result) => {

                    // if confirmed then fire a fetch request
                    if (result.isConfirmed) {
                        URL = `/user/remove-cart-product/${productID}`
                        fetch(URL, {
                            method: 'DELETE',
                            headers: {
                                "Content-Type": "application/json",
                            }
                        }).then((Response) => {
                            if (Response.ok) {
                                Swal.fire({
                                    icon: "success",
                                    title: "Product removed",
                                    showConfirmButton: false,
                                    timer: 800
                                })
                                setTimeout(() => {
                                    window.location.reload()
                                }, 800)
                            }
                        })
                    }
                })


            }
        </script>