<style>
    .edit-address-container{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .edit-address-container form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 600px;

    }
    .edit-address-container form input{
        padding: .5rem;
        border: 1px solid #aaaaaa;
        border-radius: 5px;
    }
    .edit-address-box {
        display: flex;
        flex-direction: column;
    }

</style>




<%- include('navbar') %>
    <div class="edit-address-container">
        <form action="/user/edit-address/<%=addressNumber%>" method="post" id="edit-address-form">
            <h2 class="text-center">Edit Address</h2>
            <div class="edit-address-box">
                <label for="contact-name">Contact user name</label>
                <input type="text" name="name" id="contact-name" value="<%= addressDetails.contactName %>">
            </div>
            <div class="edit-address-box">
                <label for="address-pincode">Pincode</label>
                <input type="text" name="pincode" id="address-pincode" value="<%= addressDetails.pincode %>">
            </div>
            <div class="edit-address-box">
                <label for="address-house">Flat, House no., Building, Company, Apartment</label>
                <input type="text" name="addressHome" id="address-house" maxlength="100" value="<%= addressDetails.homeAddress %>">
            </div>
            <div class="edit-address-box">
                <label for="address-area">Area, Street, Sector, Village</label>
                <input type="text" name="addressArea" id="address-area" maxlength="100" value="<%= addressDetails.areaAddress %>">
            </div>

            <div class="edit-address-box">
                <label for="address-landmark">Landmark</label>
                <input type="text" name="addressLandmark" id="address-landmark" maxlength="100"
                    placeholder="near international airport" value="<%= addressDetails.landmark %>">
            </div>
            <div class="text-center">
                <a href="/user/profile" class="btn btn-secondary">Cancel</a>

                <button class="btn btn-success" type="submit">Update Address</button>
            </div>

        </form>
    </div>
    <%- include('footer') %>

    <script>
        const editAddressForm = document.getElementById('edit-address-form')
        const contactName = document.getElementsByName('name')[0]
        const pincode = document.getElementsByName('pincode')[0]
        const homeAddress = document.getElementsByName('addressHome')[0]
        const areaAddress = document.getElementsByName('addressArea')[0]
        const landmark = document.getElementsByName('addressLandmark')[0]


        // validation for adding new address
        editAddressForm.addEventListener('submit', (e) => {
            e.preventDefault();

            let isvalid = true;
            let validateMessage = ""

            // check name is empty and it's only having number
            if (contactName.value.trim() === "" || !isNaN(contactName.value)) {
                validateMessage = "Enter a valid name"
                isvalid = false
            }
            // check pincode
            else if (pincode.value.length > 6 || isNaN(pincode.value) || pincode.value.length <= 0) {
                validateMessage = "Enter a valid Pincode with six digits"
                isvalid = false
            }
            // validate home address
            else if (homeAddress.value.length > 100 || homeAddress.value.length < 20 || !isNaN(homeAddress.value)) {
                validateMessage = "Enter a valid home address between 20 and 100 characters"
                isvalid = false
            }
            // validate area address
            else if (areaAddress.value.length > 100 || areaAddress.value.length < 10 || !isNaN(areaAddress.value)) {
                validateMessage = "Enter a valid area address between 10 and 100 characters"
                isvalid = false
            }
            // validate landmark
            else if (landmark.value.length > 50 || !isNaN(landmark.value)) {
                validateMessage = "Enter a valid landmark with maximum 50 characters"
                isvalid = false
            }

            // if anything of the above is invalid then an alert message is fired
            if (isvalid === false) {
                Swal.fire({
                    icon: "error",
                    title: "Invalid Information",
                    text: validateMessage
                })
            } else {
                editAddressForm.submit()
            }
        })


        


    </script>