<style>
    .order-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 5rem 0;
        gap: 2rem;
    }

    /* each order box */
    .order-box {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        border: 2px solid #b0b0b0;
        padding: 1rem;
    }

    .order-placed-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 3px solid #dcdcdc;
        padding: 1rem;
        gap: 3rem;
        flex-wrap: wrap;
    }

    .order-placed-details-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .order-item-details {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1rem;

    }

    .order-item-details-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .ordered-product-image-box {
        width: 150px;
        height: 150px;
        overflow: hidden;
    }

    .ordered-product-image-box img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
</style>





<%- include('navbar') %>
    <div class="order-container container">
        <div class="order-header row">
            <h2>Your Orders</h2>
        </div>

        <% orderDetails.forEach((ele,index)=>{ %>
             <!-- each orders -->
        <div class="order-box">
            <div class="order-placed-details">
                <div class="order-placed-details-inner">
                    <small>Order Placed</small>
                    <b><%= ele.orderDate.toDateString() %></b>
                </div>
                <div class="order-placed-details-inner">
                    <small> Quantity</small>
                    <b><%= ele.products.quantity %></b>
                </div>
                <div class="order-placed-details-inner">
                    <small> Total</small>
                    <b>&#8377; <%= parseInt(ele.products.price*ele.products.quantity-(ele.products.discountPrice/100)*ele.products.price*ele.products.quantity).toLocaleString() %></b>
                </div>
                <div class="order-placed-details-inner">
                    <small>Ship To</small>
                    <b><%= ele.address.contactName %></b>
                </div>
                <div class="order-placed-details-inner">
                    <small>Order Status</small>
                    <b><%= ele.products.productStatus %></b>
                </div>
            </div>
            <div class="order-item-details">
                <div class="order-item-details-inner">
                    <div class="ordered-product-image-box">
                        <img src="../../image/a1.jpg">
                    </div>
                </div>
                <div class="order-item-details-inner">
                    <h6><%= ele.products.productBrand %></h6>
                    <h6><%= ele.products.productName %></h6>
                </div>
                <div class="order-item-details-inner">
                    <button class="btn btn-warning">Add Product Review</button>
                    <button class="btn btn-danger mt-2">Cancel Order</button>
                </div>
            </div>
        </div>
        <!-- each order end -->
       <% }) %>
       



    </div>
    <%- include('footer') %>