<style>
    .no-order-prompt {
        color: #b0b0b0;
        font-family: monospace;
    }



    .avatar-lg {
        height: 5rem;
        width: 5rem;
    }

    .font-size-18 {
        font-size: 18px !important;
    }

    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    a {
        text-decoration: none !important;
    }

    .w-xl {
        min-width: 160px;
    }

    .card {
        margin-bottom: 24px;
        -webkit-box-shadow: 0 2px 3px #e4e8f0;
        box-shadow: 0 2px 3px #e4e8f0;
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eff0f2;
        border-radius: 1rem;
    }

    /* counter */
    .card-counter {
        box-shadow: 2px 2px 10px #DADADA;
        margin: 5px;
        padding: 20px 10px;
        background-color: #fff;
        height: 100px;
        border-radius: 5px;
        transition: .3s linear all;
    }

    .card-counter:hover {
        box-shadow: 4px 4px 20px #DADADA;
        transition: .3s linear all;
    }

    .card-counter.primary {
        background-color: #007bff;
        color: #FFF;
    }

    .card-counter.danger {
        background-color: #ef5350;
        color: #FFF;
    }

    .card-counter.success {
        background-color: #66bb6a;
        color: #FFF;
    }

    .card-counter.info {
        background-color: #26c6da;
        color: #FFF;
    }

    .card-counter i {
        font-size: 5em;
        opacity: 0.2;
    }

    .card-counter .count-numbers {
        position: absolute;
        right: 35px;
        top: 20px;
        font-size: 32px;
        display: block;
    }

    .card-counter .count-name {
        position: absolute;
        right: 35px;
        top: 65px;
        font-style: italic;
        text-transform: capitalize;
        opacity: 0.5;
        display: block;
        font-size: 18px;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>



<%- include('navbar') %>

    <div class="container mt-5">
        <nav class="nav nav-borders mb-5">

            <a href="/user/home" class="nav-link  ms-0 "><i class="fa-solid fa-house"></i>
                Home</a>
            <a href="/user/profile" class="nav-link  ms-4 "><i class="fa-solid fa-user"></i>
                Profile</a>
            <a href="/user/orders" class="nav-link ms-4 active"><i class="fa-solid fa-truck-moving"></i> Orders</a>
            <a href="/user/cancelled-orders" class="nav-link ms-4"><i class="fa-solid fa-ban"></i> Cancelled Orders</a>

        </nav>
        <div class="row">


            <div class="col-xl-3">
                <div class="col-md-12">
                    <div class="card-counter primary">
                        <i class="fa-solid fa-truck"></i>
                        <span class="count-numbers">0</span>
                        <span class="count-name">Pending orders</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-counter success">
                        <i class="fa-solid fa-star"></i>
                        <span class="count-numbers">0</span>
                        <span class="count-name">Review</span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card-counter info">
                        <i class="fa-solid fa-box-open"></i>
                        <span class="count-numbers"><%= orderDetails.length %></span>
                        <span class="count-name">Orders</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-counter danger">
                        <i class="fa-solid fa-ban"></i>
                        <span class="count-numbers">0</span>
                        <span class="count-name">Cancelled Orders</span>
                    </div>
                </div>
            </div>
        <div class="col-xl-9">
            <% if(orderDetails.length!=0){ %>
                <% orderDetails.forEach((ele,index)=> { %>
                    <div class="card border shadow-none">
                        <div class="card-body">

                            <div class="d-flex align-items-start border-bottom pb-3">
                                <div class="me-4">
                                    <img src="../../<%= ele.products.productImage %>" class="avatar-lg rounded">
                                </div>
                                <div class="flex-grow-1 align-self-center overflow-hidden">
                                    <div>
                                        <h5 class="text-truncate font-size-18">
                                            <%= ele.products.brand %>
                                        </h5>
                                        <h5 class="text-truncate font-size-18"><a
                                                href="/user/product-view/<%= ele.products.productID %>"
                                                class="text-dark">
                                                <%= ele.products.productName %>
                                            </a></h5>
                                        <p class="text-muted mb-0">
                                            <i class="bx bxs-star text-warning"></i>
                                            <i class="bx bxs-star text-warning"></i>
                                            <i class="bx bxs-star text-warning"></i>
                                            <i class="bx bxs-star text-warning"></i>
                                            <i class="bx bxs-star-half text-warning"></i>
                                        </p>
                                        <p class="mb-0 mt-1">Order ID : <%= ele._id %></p>
                                        <p class="mb-0 mt-1">Payment Mode : <%= ele.paymentMethod %></p>
                                        <p class="mb-0 mt-1">Price : <%= ele.totalPrice %></p>
                                    </div>
                                </div>
                                <div class="flex-shrink-0 ms-2">
                                    <ul class="list-inline mb-0 ">
                                        <% if(ele.products.productStatus==='Delivered' ){ %>
                                            <li class="list-inline-item">
                                                <button class="btn btn-danger btn-sm" title="Cancel Order">
                                                    Cancel order
                                                </button>
                                            </li>
                                            <li class="list-inline-item">
                                                <button class="btn btn-warning btn-sm" title="Cancel Order">
                                                    Add Review
                                                </button>
                                            </li>
                                            <% }else if(ele.products.productStatus==='Pending' ||
                                                ele.products.productStatus==='Shipped' ) {%>
                                                <li class="list-inline-item">
                                                    <button class="btn btn-danger btn-sm" title="Cancel Order">
                                                        Return order
                                                    </button>
                                                </li>
                                                <% }else{%>
                                                    <li class="list-inline-item">
                                                        <span class="badge" title="Cancel Order">
                                                            Order Cancelled
                                                        </span>
                                                    </li>
                                                    <% }%>
                                    </ul>
                                </div>
                            </div>

                            <div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="mt-3 text-center">
                                            <p class="text-muted mb-2">Order Placed</p>
                                            <h6 class="mb-0 mt-2"><span class="text-muted ">
                                                    <%= ele.createdAt.toDateString() %>
                                                        </h5>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mt-3 text-center">
                                            <p class="text-muted mb-2">Quantity</p>
                                            <h6 class="mb-0 mt-2"><span class="text-muted ">
                                                    <%= ele.products.quantity %>
                                                        </h5>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mt-3 text-center">
                                            <p class="text-muted mb-2">Ship To</p>
                                            <h6 class="mb-0 mt-2"><span class="text-muted ">
                                                    <%= ele.address.contactName %>
                                                        </h5>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mt-3 text-center">
                                            <p class="text-muted mb-2">Order Status</p>
                                            <h6 class="mb-0 mt-2"><span class="text-muted ">
                                                    <%= ele.products.productStatus %>
                                                        </h5>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <div class="row text-center">
                                <h2 class="no-order-prompt">No orders available yet </h2>
                            </div>
                            <% } %>
                                <!-- end card -->

        </div>
    </div>
    <!-- end row -->

    </div>


    </div>

    <%- include('footer') %>


        <script>


            // write the product review
            function cancelOrder(orderID, productID) {

                Swal.fire({
                    icon: "question",
                    title: "Cancel Order",
                    text: "Are you sure want to cancel this order"
                }).then((result) => {
                    if (result.isConfirmed) {


                    }
                })

            }
        </script>