<style>
    .order-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 5rem 0;
        gap: 2rem;
    }

    /* each order box */
    .order-box {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        border: 2px solid #b0b0b0;
        padding: 1rem;
    }

    .order-placed-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 3px solid #dcdcdc;
        padding: 1rem;
        gap: 3rem;
        flex-wrap: wrap;
    }

    .order-placed-details-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .order-item-details {
        display: grid;
        grid-template-columns: 20% 50% 30%;

    }
    .order-item-details-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .ordered-product-image-box {
        width: 150px;
        height: 150px;
        overflow: hidden;
    }

    .ordered-product-image-box img {
        width: 150px;
        height: 150px;
        object-fit: contain;
    }
    .no-order-prompt{
        color: #b0b0b0;
        font-family: monospace;
    }
    .product-name-inorder{
        text-decoration: none;
        font-size: 1rem;
        color: #000000;
    }
</style>





<%- include('navbar') %>
    <div class="order-container container">
        <div class="order-header row">
            <h2>Your Orders</h2>
        </div>

        <% if(orderDetails.length!=0){ %>
        <% orderDetails.forEach((ele,index) => { %>
             <!-- each orders -->
        	<div class="order-box">
            	<div class="order-placed-details">
                	<div class="order-placed-details-inner">
                    	<small>Order Placed</small>
                    	<b><%= ele.createdAt.toDateString() %></b>
                	</div>
                	<div class="order-placed-details-inner">
                    	<small> Quantity</small>
                    	<b><%= ele.products.quantity %></b>
                	</div>
                	<div class="order-placed-details-inner">
                    	<small> Total</small>
                    	<b>&#8377; <%= parseInt(ele.products.price*ele.products.quantity-(ele.products.discountPrice/100)*ele.products.price*ele.products.quantity).toLocaleString() %></b>
                	</div>
                	<div class="order-placed-details-inner">
                    	<small>Ship To</small>
                    	<b><%= ele.address.contactName %></b>
                	</div>
                	<div class="order-placed-details-inner">
                    	<small>Order Status</small>
                    	<b><%= ele.products.productStatus %></b>
                	</div>
            	</div>
            	<div class="order-item-details">
                	<div class="order-item-details-inner">
                    	<div class="ordered-product-image-box">
                        	<img src="../../<%= ele.products.productImage %>">
                    	</div>
                	</div>
                	<div class="order-item-details-inner">
                    	<h6><%= ele.products.brand %></h6>
                    	<a href="/user/product-view/<%= ele.products.productID %>" class="product-name-inorder" ><%= ele.products.productName %></a>
                	</div>
                	<div class="order-item-details-inner">
                    	<button class="btn btn-warning">Add Product Review</button>
                    	<button class="btn btn-danger mt-2" onclick="cancelOrder('<%= ele.id %>','<%= ele.products.id %>')">Cancel Order</button>
                	</div>
            	</div>
        	</div>
        	<!-- each order end -->
       	<% }) %>
       <% } else { %>
        <div class="row text-center">
            <h2 class="no-order-prompt">No orders available yet </h2>
        </div>
       <% }  %>
       



    </div>
    <%- include('footer') %>


    <script>


        // write the product review
        function cancelOrder(orderID,productID){

            Swal.fire({
                icon:"question",
                title:"Cancel Order",
                text:"Are you sure want to cancel this order"
            }).then((result)=>{
                if(result.isConfirmed){


                }
            })

        }
    </script>