
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <button class="page-link" onclick="previousPage('<%= parseInt(currentPage) %>')">Previous</button>
        </li>
        <% for(let i = 1; i <= pageNumber; i++) { %> 
            <li class="page-item">
                <a class="page-link" href="?page=<%= i %>" ><%= i %></a>
            </li>
        <% } %>
        <li class="page-item">
            <button class="page-link" onclick="nextPage('<%= parseInt(currentPage) %>','<%= pageNumber %>')">Next</button>
        </li>
    </ul>
</nav>


<script>

    // next page
    function nextPage(currentPage,totalPage){
        if(Number(currentPage)<Number(totalPage)){
            window.location.href=`?page=${Number(currentPage)+1}`
        }
    }

    // previous page
    function previousPage(currentPage){
        if((Number(currentPage)-1)!=0){
            window.location.href=`?page=${Number(currentPage)-1}`
        }
    }

</script>