<style>
    .product-view-container {
        display: flex;
        min-height: 100vh;
        padding: 5rem 0;
    }

    .product-view-deatils {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .product-image-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .product-image-array {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 90%;
    }

    .product-image-each {
        width: 100px;
        height: 100px;
        border: 2px solid #8c8c8c;
        background-color: #eaeaea;
        border-radius: 10px;
        overflow: hidden;
    }

    .product-image-each img {
        width: 100px;
        height: 100px;
        object-fit: scale-down;
    }

    .product-full-view {
        width: 500px;
        height: 500px;
        /* border: 2px solid #8c8c8c; */
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .product-out-offstock {
        color: green;
    }

    .product-full-img-view {
        width: 470px;
        height: 470px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product-full-view img {
        width: 400px;
        height: 400px;
        object-fit: scale-down;
    }

    .product-detail-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 50%;
    }

    .product-name h5 {
        text-align: justify;
    }

    #right-arrow-img,
    #left-arrow-img {
        scale: 1.5;
        z-index: 3;
        transition: .3s ease-in-out;
        cursor: pointer;
    }

    #right-arrow-img:hover,
    #left-arrow-img:hover {
        scale: 1.4;
    }


    .offer-box {
        background-color: red;
        border-radius: 3px;
        padding: 2px;
        color: #ffffff;
        width: 100px;
        text-align: center;
    }

    #product-add-to-cart-form {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        /* justify-content: space-evenly; */
    }

    #product-add-to-cart-form select {
        /* width: 50px; */
        border-radius: 10px;
        padding: 0 10px;
    }

    #product-add-to-cart-form .btn {
        width: 200px;
        font-weight: 600;
    }
    .go-to-cart {
        width: 200px;
        font-weight: 600;
    }

    .star-rating-product {
        font-size: 2rem;
        cursor: pointer;
        color: orange;
    }

    .product-coupons-section form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
    }

    .product-coupons-section form input {
        width: 200px;
        text-align: center;
        border: 1px solid #8c8c8c;
        border-radius: 10px;
        padding: 5px;
        font-size: 1.5rem;
    }
</style>

<%- include('navbar') %>

    <div class="product-view-container container">

        <!-- product top section -->
        <div class="product-view-deatils">

            <!-- left side product image section -->
            <div class="product-image-container">
                <div class="product-full-view">
                    <i class="fa-solid fa-chevron-left" id="left-arrow-img"></i>
                    <!-- the input holds the images from route and also the button is hidden -->
                    <div class="product-full-img-view">
                        <img src="../../<%= product.productImage[0] %>" alt="" id="product-image-img">
                    </div>
                    <input type="text" name="image" value="<%= product.productImage %>" hidden>
                    <i class="fa-solid fa-chevron-right" id="right-arrow-img"></i>
                </div>
                <div class="product-image-array">
                    <% product.productImage.forEach((img)=>{ %>
                        <div class="product-image-each">
                            <img src="../../<%= img %>" alt="">
                        </div>
                        <% }) %>


                </div>

            </div>

            <!-- right side product name, price, description addToCart section -->

            <div class="product-detail-container">
                <div class="product-name">
                    <h6>
                        <%= product.productBrand %>
                    </h6>
                    <h5>
                        <%= product.productName %>
                    </h5>
                </div>
                <div class="product-offer">
                    <% if(product.productDiscount!=0){ %>
                        <div class="offer-box">
                            <h6>
                                <%= product.productDiscount %>&percnt; OFF
                            </h6>
                        </div>
                        <% } %>
                            <div class="rating" id="rating">
                                <span class="star-rating-product" data-value="1">&#9733;</span>
                                <span class="star-rating-product" data-value="2">&#9733;</span>
                                <span class="star-rating-product" data-value="3">&#9733;</span>
                                <span class="star-rating-product" data-value="4">&#9733;</span>
                                <span class="star-rating-product" data-value="5">&#9733;</span>
                            </div>

                </div>
                <div class="product-price">
                    <h3><i class="fa-solid fa-indian-rupee-sign product-text-row"></i>
                        <%= product.productPrice.toLocaleString() %>
                    </h3>

                </div>
                <% if(product.productQuantity>0){ %>

                    <% if(itemInCart) {%>
                        <!-- if product is already present in the cart go to cart button is showed -->
                        <a href="/user/cart" class="btn btn-warning go-to-cart">Go to Cart <i class="fa-solid fa-cart-shopping"></i></a>
                        <% }else{ %>
                            <!-- form for add to cart with product id as path params and price as query params -->
                            <form action="/user/add-to-cart/<%= product.id %>/?price=<%= product.productPrice %>"
                                method="post" id="product-add-to-cart-form">
                                <button type="submit" class="btn btn-warning" id="add-to-cart-btn">Add to Cart</button>
                                <!-- <a href="/user/buy-now/<%= product.id %>" class="btn btn-danger" id="buy-now-btn">Buy
                                    Now</a> -->
                            </form>
                            <% } %>

                                <% }else{ %>
                                    <div class="product-out-offstock">
                                        <h5>Product is out of stock</h5>
                                    </div>
                                    <% } %>
                                        <div class="product-description mt-5">
                                            <p>
                                                <%= product.productDescription %>
                                            </p>
                                        </div>
                                        <div class="product-coupons-section">
                                            <form action="">
                                                <input type="text" placeholder="xxxx-xxxx-xxxx" required>
                                                <button class="btn btn-secondary">Apply Coupon</button>
                                            </form>
                                        </div>

            </div>



        </div>
    </div>

    <!-- if similar products exist in the collection then only then product is shown  -->
    <% if(similarProducts.length!=0){ %>
        <div class="similar-pro-container container ">
            <h2>Similar Products</h2>
            <%- include('similarProducts') %>
        </div>
        <% } %>


            <%- include('footer') %>

                <script>

                    // image zoom effect
                    const imageContainer = document.getElementsByClassName('product-full-img-view')[0]
                    const productImg = document.getElementById('product-image-img')

                    imageContainer.addEventListener("mousemove", (e) => {
                        const rect = e.target.getBoundingClientRect();
                        const x = (e.clientX - rect.left) / rect.width;
                        const y = (e.clientY - rect.top) / rect.height;

                        productImg.style.transformOrigin = `${x * 100}% ${y * 100}%`;
                        productImg.style.transform = "scale(2)";
                    });

                    imageContainer.addEventListener("mouseleave", () => {
                        productImg.style.transformOrigin = "center"
                        productImg.style.transform = "scale(1)"
                    })




                    const rightArrow = document.getElementById('right-arrow-img')
                    const leftArrow = document.getElementById('left-arrow-img')

                    // current index of the image array is first set as 0
                    let currentIndex = 0;

                    // image from backend is stored in a disabled input box
                    const imageList = document.getElementsByName('image')[0].value

                    // the imageList is get as string with commas then that is separated using the comma and added to an array
                    let ImageArray = imageList.split(",")

                    // find the length of the image array because of index starts with 0 array length is reduced by 1
                    const maxlength = ImageArray.length - 1

                    // event listener for right arrow
                    rightArrow.addEventListener('click', () => {
                        if (currentIndex === maxlength) {
                            rightArrow.disabled = true
                        } else {
                            currentIndex = currentIndex + 1;
                            productImg.src = `../../${ImageArray[currentIndex]}`
                        }

                    })

                    // event listener for left arrow
                    leftArrow.addEventListener('click', () => {
                        if (currentIndex === 0) {
                            leftArrow.disabled = true
                        } else {
                            currentIndex = currentIndex - 1;
                            productImg.src = `../../${ImageArray[currentIndex]}`
                        }

                    })



                    // adding product to cart 
                    const addToCartForm = document.getElementById('product-add-to-cart-form')
                    addToCartForm.addEventListener('submit', (e) => {
                        e.preventDefault()

                        // an animation of success for every button click
                        Swal.fire({
                            icon: "success",
                            title: "Item added to cart",
                            showConfirmButton: false,
                            timer: 1000
                        })

                        setTimeout(() => {
                            addToCartForm.submit()
                        }, 1000)

                    })




                </script>