<style>
    #product-full-img-view {
        overflow: hidden;
        height: 500px;
        width: 100%;

    }

    #product-full-img-view img {
        height: 500px;
        width: 100%;
        object-fit: contain;
    }

    .small-image-box {
        width: 70px;
        height: 70px;
        overflow: hidden;
    }

    .small-image-box img {
        width: 70px;
        height: 70px;
        object-fit: contain;
    }
</style>


<%- include('navbar') %>

    <!-- content -->
    <section class="py-5">
        <div class="container">
            <div class="row gx-5">
                <aside class="col-lg-6">
                    <div class="border rounded-4 mb-3 d-flex justify-content-center" id="product-full-img-view">
                        <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" loading="lazy"
                            src="../../<%= product.productImage[0] %>" id="product-image-img" />
                    </div>
                    <div class="d-flex justify-content-center gap-2 mb-3">
                        <% product.productImage.forEach((img)=>{ %>

                            <div class="small-image-box">
                                <img width="60" height="60" class="rounded-2" src="../../<%=img %>" loading="lazy"
                                    onclick="changeImage(`<%= img.replace(/\\/g,'\\\\') %>`)" />
                            </div>
                            <% }) %>
                    </div>
                    <!-- thumbs-wrap.// -->
                    <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-lg-6">
                    <div class="ps-lg-3">
                        <h4 class="title text-dark">
                            <%= product.productName %>
                        </h4>

                        <!-- rating -->
                        <div class="d-flex flex-row my-3">
                            <div class="text-warning mb-1 me-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="ms-1">
                                    4.5
                                </span>
                            </div>
                            <!-- <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span> -->
                            <% if(product.productQuantity>0){ %>
                                <b class="text-success ms-2">In stock</b>
                                <% }else{ %>
                                    <b class="text-danger ms-2">Out of stock</b>
                                    <% } %>
                        </div>
                        <% if(product.productDiscount>0){ %>
                            <div class="mb-3">
                                <span class="badge bg-danger">
                                    <%=product.productDiscount %> % OFF
                                </span><br><br>
                                <span class="h4">&#8377;<s>
                                        <%= product.productPrice.toLocaleString() %>
                                    </s></span>&nbsp;&nbsp;&nbsp;
                                <span class="h3">&#8377;
                                    <%= (product.productPrice*(1-(product.productDiscount/100))).toLocaleString() %>
                                </span>
                            </div>
                            <% }else{ %>
                                <div class="mb-3">
                                    <span class="h3">&#8377;
                                        <%= product.productPrice.toLocaleString() %>
                                    </span>
                                </div>
                                <% } %>

                                    <p>
                                        <%= product.productDescription %>
                                    </p>

                                    <div class="row">
                                        <dt class="col-3">Type:</dt>
                                        <dd class="col-9">
                                            <%= product.productCategory %>
                                        </dd>

                                        <dt class="col-3">Brand</dt>
                                        <dd class="col-9">
                                            <%= product.productBrand %>
                                        </dd>
                                    </div>

                                    <hr />


                                    <button onclick="addToCart('<%= product.id %>','<%= product.productPrice %>')"
                                        class="btn btn-warning shadow-0"> Add to Cart </button>
                                    <button class="btn btn-secondary"> <i class="fa fa-heart fa-lg"></i> Save </button>
                    </div>
                </main>
            </div>
        </div>
        <%- include('rating') %>
    </section>
    <!-- content -->
    <%- include('similarProducts') %>


        <!-- Footer -->
        <%- include('footer') %>

            <script>
                // image zoom effect
                const imageContainer = document.getElementById('product-full-img-view')
                const productImg = document.getElementById('product-image-img')

                imageContainer.addEventListener("mousemove", (e) => {
                    const rect = e.target.getBoundingClientRect();
                    const x = (e.clientX - rect.left) / rect.width;
                    const y = (e.clientY - rect.top) / rect.height;

                    productImg.style.transformOrigin = ` ${x * 100}% ${y * 100}%`;
                    productImg.style.transform = "scale(2)";
                });

                imageContainer.addEventListener("mouseleave", () => {
                    productImg.style.transformOrigin = "center"
                    productImg.style.transform = "scale(1)"
                })


                // function to change the image 
                function changeImage(src) {
                    productImg.src = `../../${src}`
                }





                // fetch to add products to cart from wish list 
                function addToCart(productsId, price) {

                    const URL = `/add-to-cart/${productsId}/?price=${price}`

                    fetch(URL, {
                        method: "POST"
                    }).then((Response) => {
                        return Response.json(); // Return JSON data
                    }).then((data) => {
                        if (data.success) {
                            Swal.fire({
                                icon: "success",
                                title: "Product added to cart",
                                showConfirmButton: false,
                                timer: 700,
                            })
                        }

                        if (data.error) {
                            const notyf = new Notyf({ duration: 9000, });
                            notyf.error(data.error)
                            console.log(data.error);
                        }
                    }).catch((err) => {
                        window.location.href = "/login"
                        console.log(`Error on adding product to cart ${err}`);
                    })
                }
            </script>


          