<style>
    .products-container {
        padding: 2rem 0;
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .products-list-box {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .product-box {
        text-decoration: none;
        color: #000000;
        border: 1px solid #b2b2b2;
        border-radius: 10px;
        width: 300px;
        padding: 1rem;
        margin-top: 2rem;
        /* overflow: hidden; */
        text-overflow: ellipsis;
        position: relative;
        transition: .1s ease-in-out;
    }

    .product-box:hover {
        scale: .98;
    }

    .product-image-box {
        height: 250px;
        width: 250px;
        position: relative;
    }

    .product-image-box img {
        margin: auto;
        width: 250px;
        height: 250px;
        object-fit: scale-down;
    }

    .product-text-row {
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .product-discount-box {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 2rem;
        color: #ffffff;
        background-color: red;
        border-radius: 5px 0;
        z-index: 10;
    }

    .product-new-arrival-box {
        position: absolute;
        top: -10px;
        right: 10px;
        width: 20px;
    }

    .product-new-arrival-box img {
        width: 50px;
        height: 50px;
        object-fit: contain;

    }

    .product-price {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }

    .product-star-rating {
        position: absolute;
        bottom: 0;
        right: -1rem;
    }

    .product-star-icon {
        color: orange;
    }

    .product-availability {
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.499);
        padding: 1rem 0;
        font-size: 1.2rem;
        font-weight: 700;
        color: red;
        text-align: center;
        z-index: 200;
    }

    .no-product-banner {
        /* background-color: red; */
        background: url("../../image/noproduct.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 50vh;
        width: 100%;
    }

    .product-description-box {
        text-decoration: none;
        color: #000000;
    }

    .like-btn {
        display: none;
        scale: 1.5;
    }
</style>

<div class="products-container">
    <div class="products-list-box container">
        <!-- check if any product exist -->
        <% if(products.length!=0){ %>
            <!-- this will render each product on the product collection which is not blocked -->
            <% products.forEach((product)=>{ %>

                <!-- this is the product container and when it is clicked it redirect to product detail page -->
                <div class="product-box">
                    <!-- if product discount is available then it is shown as a banner in product top  -->
                    <% if(product.productDiscount!=0){ %>
                        <div class="product-discount-box">
                            <h6>
                                <%= product.productDiscount %>&percnt; OFF
                            </h6>
                        </div>

                        <!-- if the product is added which one day then new arrival banner is shown on top of the product box -->
                        <% } %>
                            <% if (new Date(product.createdAt).getTime()> (Date.now() - (3 * 24 * 60 * 60 * 1000))) { %>
                                <div class="product-new-arrival-box">
                                    <img src="../../image/newbanner.png" alt="">
                                </div>
                                <% } %>

                                    <!-- image of product which is stored in uploads folder -->
                                    <div class="product-image-box">
                                        <img src="/<%= product.productImage[0] %>" loading="lazy" />


                                        <!-- product review -->
                                        <h6 class="product-star-rating">
                                            4.5 <span class="product-star-icon">&starf;</span>
                                        </h6>
                                    </div>
                                    <!-- product description with text overflow as ... -->
                                    <a href="/user/product-view/<%= product._id %>" class="product-description-box">
                                        <h6 class="product-text-row">
                                            <%= product.productBrand %>
                                        </h6>
                                        <p class="product-name product-text-row">
                                            <%= product.productName %>
                                        </p>
                                        <h5 class="product-price">
                                            <% if(product.productDiscount!=0){ %>
                                                <s class="text-danger">&#8377;</i>
                                                  <%= product.productPrice.toLocaleString() %></s>
                                              <% } %>
                                            &#8377;</i>
                                            <%= (product.productPrice*(1-product.productDiscount/100)).toLocaleString() %>
                                           
                                        </h5>
                                    </a>
                                    <div>
                                        <!-- <hr> -->
                                        <div class="d-flex flex-row-reverse gap-3">
                                            <button onclick="addToWishlist('<%= product._id %>')" class="btn btn-sm"><i
                                                    class="fa-solid fa-heart"></i></button>
                                            <button
                                                onclick="addToCart('<%= product._id %>','<%= product.productPrice %>')"
                                                class="btn btn-sm "><i class="fa-solid fa-cart-shopping"></i></button>
                                        </div>

                                        <!-- product availability -->
                                        <% if(product.productQuantity<=0){ %>
                                            <h6 class="product-availability">Product Out of stock</h6>
                                            <% } %>
                                    </div>


                </div>

                <% }) %>
                    <% }else{ %>
                        <div class="no-product-banner"></div>
                        <% } %>
    </div>
    <%- include("pagination")%>
</div>


<script>


    // fetch to add products to cart from wish list 
    function addToCart(productsId, price) {

        const URL = `/user/add-to-cart/${productsId}/?price=${price}`

        fetch(URL, {
            method: "POST",
            headers: {
                "content-Type": "application/JSON",
            },
        }).then((res) => {
            // if (!res.ok) {
            //     throw new Error("Cannot add to cart")
            // }
            return res.json(); // Return JSON data
        }).then((data) => {
            if (data.success) {
                Swal.fire({
                    icon: "success",
                    title: "Product added to cart",
                    showConfirmButton: false,
                    timer: 700,
                })
            }
            
            if (data.error) {
                const notyf = new Notyf({ duration: 1500, });
                notyf.error(data.error)
                console.log(data.error);
            }
        }).catch((err) => {
            window.location.href="/user/login"
            console.log(`Error on adding product to cart ${err}`);
        })
    }


    // function to add product to wishlist
    function addToWishlist(productID) {
        const URL = `/user/add-wishlist/${productID}`
        fetch(URL, {
            method: 'POST',
            headers:{
                'Content-Type':'application/json'
            }
        }).then((res) => {
            // if (!res.ok) {
            //     throw new Error("Cannot add product to wishlist. Please login")
            // }
            return res.json()

        }).then((data) => {
            if (data.success) {
                Swal.fire({
                    icon: "success",
                    title: "Product added to wishlist",
                    showConfirmButton: false,
                    timer: 800,
                })
            }
            if (data.error) {
                const notyf = new Notyf({ duration: 1500, });
                notyf.error(data.error)
            }
        }).catch((err) => {
            window.location.href="/user/login"
            console.log(err);
        })
    }


</script>