<style>
    .no-order-prompt {
        color: #b0b0b0;
        font-family: monospace;
    }



    .avatar-lg {
        height: 5rem;
        width: 5rem;
    }

    .font-size-18 {
        font-size: 18px !important;
    }

    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    a {
        text-decoration: none !important;
    }

    .w-xl {
        min-width: 160px;
    }

    .card {
        margin-bottom: 24px;
        -webkit-box-shadow: 0 2px 3px #e4e8f0;
        box-shadow: 0 2px 3px #e4e8f0;
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eff0f2;
        border-radius: 1rem;
    }
</style>



<%- include('navbar') %>

    <div class="container mt-5">
        <nav class="nav nav-borders mb-5">

            <a href="/home" class="nav-link  ms-0 "><i class="fa-solid fa-house"></i>
                Home</a>
            <a href="/profile" class="nav-link  ms-4 "><i class="fa-solid fa-user"></i>
                Profile</a>
            <a href="/orders" class="nav-link ms-4 "><i class="fa-solid fa-truck-moving"></i> Orders</a>
            <a href="/cancelled-orders" class="nav-link ms-4"><i class="fa-solid fa-ban"></i> Cancelled Orders</a>
            <a href="/wallet" class="nav-link ms-4 active"><i class="fa-solid fa-wallet"></i> Wallet</a>

        </nav>
        <div class="row">
            <!-- left side overall stats-->
            <div class="col-xl-3">

                <div class="col-md-12">
                    <div class="card-counter success">
                        <i class="fa-solid fa-wallet"></i>
                        <span class="count-numbers">&#8377; <%= walletBalance %></span>
                        <span class="count-name">Wallet Balance</span>
                    </div>
                </div>
            </div>

            <!-- right side orders list  -->
            <div class="col-xl-9">
                <table class="table">
                    <thead class="table-primary">
                        <tr>
                            <th colspan="5" class="text-secondary text-center p-4">Transaction history</th>
                        </tr>
                        <tr>
                            <th scope="col">Sl no</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Order ID</th>
                            <th scope="col">Status</th>
                            <th scope="col">Total</th>
                        </tr>

                    </thead>
                    <% if(orderDetails.length!=0){ %>
                        <% orderDetails.forEach((ele,index)=> { %>
                            <tbody>
                                <tr>
                                    <th scope="row" class="py-3">
                                        <%= index+1 %>
                                    </th>
                                    <td class="py-3">
                                        <%= ele.createdAt.toDateString() %>
                                    </td>
                                    <td class="py-3">
                                        <%= ele._id %>
                                    </td>
                                    <td class="py-3">
                                        <%= ele.orderStatus %>
                                    </td>
                                    <td class="py-3 wallet-amount" data-purchase="<%= ele.orderStatus %>"
                                        data-payment="<%= ele.paymentMethod %>" data-price="<%= ele.totalPrice %>">
                                        &#8377; <%= ele.totalPrice %>
                                    </td>

                                </tr>
                            </tbody>

                            <% }) %>
                                <% } else { %>
                                    <tbody>
                                        <tr>
                                            <td colspan="5" class="p-5 text-center text-secondary">No wallet
                                                transactions</td>
                                        </tr>
                                    </tbody>
                                    <% } %>
                </table>
            </div>
        </div>
        <%- include('pagination') %>
    </div>


    <%- include('footer') %>


        <script>

            const walletAmount = document.querySelectorAll('.wallet-amount');

            walletAmount.forEach((order) => {
                const orderStatus = order.getAttribute('data-purchase');
                const paymentMethod = order.getAttribute('data-payment');

                if (orderStatus === 'Returned' || orderStatus === 'Cancelled') {
                    const incrementDiv = document.createElement('i');
                    incrementDiv.classList.add('fa-solid', 'fa-up-long', 'text-success');
                    incrementDiv.setAttribute('title', "Money credited")
                    order.appendChild(incrementDiv);
                }

                if (paymentMethod === "Wallet") {
                    const decrementDiv = document.createElement('i');
                    decrementDiv.classList.add('fa-solid', 'fa-down-long', 'text-danger');
                    decrementDiv.setAttribute('title', "Money debited")
                    order.appendChild(decrementDiv);
                }
            });


        </script>