<style>
    .no-order-prompt {
        color: #b0b0b0;
        font-family: monospace;
    }



    .avatar-lg {
        height: 5rem;
        width: 5rem;
    }

    .font-size-18 {
        font-size: 18px !important;
    }

    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    a {
        text-decoration: none !important;
    }

    .w-xl {
        min-width: 160px;
    }

    .card {
        margin-bottom: 24px;
        -webkit-box-shadow: 0 2px 3px #e4e8f0;
        box-shadow: 0 2px 3px #e4e8f0;
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eff0f2;
        border-radius: 1rem;
    }

    /* counter */
    .card-counter {
        box-shadow: 2px 2px 10px #DADADA;
        margin: 5px;
        padding: 20px 10px;
        background-color: #fff;
        height: 100px;
        border-radius: 5px;
        transition: .3s linear all;
    }

    .card-counter:hover {
        box-shadow: 4px 4px 20px #DADADA;
        transition: .3s linear all;
    }

    .card-counter.primary {
        background-color: #007bff;
        color: #FFF;
    }

    .card-counter.danger {
        background-color: #ef5350;
        color: #FFF;
    }

    .card-counter.success {
        background-color: #66bb6a;
        color: #FFF;
    }

    .card-counter.info {
        background-color: #26c6da;
        color: #FFF;
    }

    .card-counter i {
        font-size: 5em;
        opacity: 0.2;
    }

    .card-counter .count-numbers {
        position: absolute;
        right: 35px;
        top: 20px;
        font-size: 32px;
        display: block;
    }

    .card-counter .count-name {
        position: absolute;
        right: 35px;
        top: 65px;
        font-style: italic;
        text-transform: capitalize;
        opacity: 0.5;
        display: block;
        font-size: 18px;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .order-container {
        position: relative;
        overflow: hidden;
    }

    .order-actions-top {
        position: absolute;
        top: 0;
        right: 0;
    }
</style>



<%- include('navbar') %>

    <div class="container mt-5">
        <nav class="nav nav-borders mb-5">

            <a href="/user/home" class="nav-link  ms-0 "><i class="fa-solid fa-house"></i>
                Home</a>
            <a href="/user/profile" class="nav-link  ms-4 "><i class="fa-solid fa-user"></i>
                Profile</a>
            <a href="/user/orders" class="nav-link ms-4 "><i class="fa-solid fa-truck-moving"></i> Orders</a>
            <a href="/user/cancelled-orders" class="nav-link ms-4"><i class="fa-solid fa-ban"></i> Cancelled Orders</a>
            <a href="/user/wallet" class="nav-link ms-4 active"><i class="fa-solid fa-wallet"></i> Wallet</a>

        </nav>
        <div class="row">
            <!-- left side overall stats-->
            <div class="col-xl-3">

                <div class="col-md-12">
                    <div class="card-counter success">
                        <i class="fa-solid fa-wallet"></i>
                        <span class="count-numbers">&#8377; <%= walletBalance %></span>
                        <span class="count-name">Wallet Balance</span>
                    </div>
                </div>
            </div>

            <!-- right side orders list  -->
            <div class="col-xl-9">
                <table class="table">
                    <thead class="table-primary">
                        <tr>
                            <th colspan="5" class="text-secondary text-center p-4">Transaction history</th>
                        </tr>
                        <tr>
                            <th scope="col">Sl no</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Order ID</th>
                            <th scope="col">Status</th>
                            <th scope="col">Total</th>
                        </tr>

                    </thead>
                    <% if(orderDetails.length!=0){ %>
                        <% orderDetails.forEach((ele,index)=> { %>
                            <tbody>
                                <tr>
                                    <th scope="row" class="py-3">
                                        <%= index+1 %>
                                    </th>
                                    <td class="py-3">
                                        <%= ele.createdAt.toDateString() %>
                                    </td>
                                    <td class="py-3">
                                        <%= ele._id %>
                                    </td>
                                    <td class="py-3">
                                        <%= ele.orderStatus %>
                                    </td>
                                    <td class="py-3">&#8377; <%= ele.totalPrice %>
                                    </td>
                                </tr>
                            </tbody>

                            <% }) %>
                                <% } else { %>
                                    <tbody>
                                        <tr>
                                            <td colspan="5" class="p-5 text-center text-secondary">No wallet
                                                transactions</td>
                                        </tr>
                                    </tbody>
                                    <% } %>
                </table>
                <!-- end card -->

            </div>
        </div>
        <!-- end row -->
    </div>

    <div class="modal fade" id="cancelOrderModal" tabindex="-1" aria-labelledby="cancelOrderModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body p-5">
                    <h2 class="text-center mb-5">Reason for cancelling</h2>
                    <form action="/user/cancel-order/" method="post" id="cancel-order-form">
                        <div class="form-group">
                            <textarea class="form-control" id="reason-for-cancel" rows="5" name="cancelReason"
                                placeholder="please provide the reason for cancelling the order"></textarea>
                            <label for="reason-for-cancel" class="cancel-form-validate text-danger"></label>
                        </div>
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Confirm Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') %>


        <script>

            // function for cancelling the order
            const cancelOrderForm = document.getElementById('cancel-order-form')
            function cancelOrder(orderID) {

                Swal.fire({
                    icon: "question",
                    title: "Cancel the order",
                    text: "Are you sure want to cancel the order?",
                    showCancelButton: true,
                    confirmButtonText: "Yes, cancel it !",
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.isConfirmed) {

                        // open the modal for cancel order
                        const myModal = new bootstrap.Modal(document.getElementById('cancelOrderModal'));
                        myModal.show();

                        cancelOrderForm.action = `/user/cancel-order/${orderID}`


                    }
                })
            }

            const reasonForCancel = document.getElementById('reason-for-cancel')
            cancelOrderForm.addEventListener('submit', (e) => {
                e.preventDefault();
                document.getElementsByClassName('cancel-form-validate')[0].innerHTML = ""

                if (reasonForCancel.value.trim() === 0 || reasonForCancel.value.length > 100 || reasonForCancel.value.length < 10) {

                    document.getElementsByClassName('cancel-form-validate')[0].innerHTML = "Please provide a reason between 10 and 100 characters"
                } else {
                    cancelOrderForm.submit()
                }
            })

        </script>